body{
	margin: 0px 0px 0px 0px;

}

h1{
	background-color: #CD80FF;
	font-family: courier new;
	font-size: 70px;
	margin-top: inherit;
	height: 100px;
	width: 150%;
	padding: 15px 0px 0px 25px;
}

#back{
	margin-left: 40px;
	display: none;
}

.tweetSection{
	margin-left: 260px;
}

.following{
	border-radius: 15px;
	height: 600px;
	width: 230px;
	margin-left:10px;
	float: left;
	padding-left: 10px;
	background-color: #CEC7D9;
}

.tweet{
	border-radius: 15px;
	display: none;
	margin-left:30px;
	margin-top:10px;
	padding-left: 20px;
	width: 600px;
	height: 150px;
	background-color: #CEC7D9;
}
.tweet:hover{
	background-color: #DBBEF8
	
}

.user{
	margin-bottom: 0px;
	display: inline-block;
	font-size: 30px;

}
.user:hover{
	color:#CD80FF;
}

.message{
	font-weight: bold;
	margin-top: 0px;
	margin-bottom:0px;
	font-size: 25px;
}


.timeSig{
	font-style: italic;
	color: grey;
	margin-top:0px;
	margin-bottom:0px;
}